* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #004369;
}

.container {
    display: flex;
    width: 70vw;
    height: 70vh;
    justify-content: space-around;
    background: #004369;
    margin: 15vh auto;
    flex-wrap: wrap;
    align-items: center;
}

.pieces {
    position: relative;
    background: #01949A;
    width: 50%;
    height: 50%;
    overflow: hidden;
}

.piece {
    position: absolute;
    background: #DB1F48;
    width: 100%;
    height: 100%; 
    transform: translateX(-100%);
    transition: 1s;
}

.right {
    transform: translateX(100%);
}

.top {
    background: #004369;
    transform: translateY(-100%);
    transition-delay: .4s;
}

.bottom {
    background: #004369;
    transform: translateY(100%);
    transition-delay: .4s;
}

.pieces:hover .piece {
    transform: translateX(0%);
}

.pieces:hover .right {
    transform: translateX(0%);
}

.pieces:hover .top {
    transform: translateY(0%);
}

.pieces:hover .bottom {
    transform: translateY(0%);
}



